In [2]:
import pandas as pd
from typing import List

with open("D:\Comparison_scrape\info_text\store_details.txt", "r") as file:
    list_of_stores = file.readlines()

extracted_data = [store.strip() for store in list_of_stores]

columns = [
    "Branding Store",
    "Store",
    "Logo-Supervisor",
    "Sales Group",
    "Sales Rep",
    "Orders",
    "External ID",
    "Order Amount",
    "Status",
    "Storez",
    "Created At",
    "Last Fulfilled At",
    "Items Count",
    "Country", 
    "Min Shopify#",
    "Max Shopify#",
    "Formula(Numeric)" 
]

In [3]:
def split_data(datas: list) -> list:
    return [data.split() for data in datas]

def make_dict(datas: List[List[str]], column_names: List[str]) -> dict:
    result = []
    for data in datas:
        dictionary_data = {col_name: value for col_name, value in zip(column_names, data)}
        result.append(dictionary_data)
    
    return result

def process_now(datas: list, column_name) -> dict:
    splitted_data = split_data(datas)

    return make_dict(splitted_data, column_name)

res = process_now(extracted_data, columns)

In [4]:
df = pd.DataFrame(res).drop(columns = ["Logo-Supervisor", "Storez"])
df

,Branding Store,Store,Sales Group,Sales Rep,Orders,External ID,Order Amount,Status,Created At,Last Fulfilled At,Items Count,Country,Min Shopify#,Max Shopify#,Formula(Numeric)
0,No,simplyniter,Jacky,Jacky,#SPN4735,5270059778324,189.30,Pending-Approval,03/03/2023-7:56:31-am,03/13/2023-9:22:49-pm,7,United-States,"4,735","4,735",4
1,No,simplyniter,Jacky,Jacky,#SPN6703,5274122649876,169.95,Pending-Approval,03/10/2023-11:52:13-am,03/15/2023-7:57:13-pm,2,United-States,"6,703","6,703",4
2,No,simplyniter,Jacky,Jacky,#SPN15239,5362512101652,169.94,Pending-Approval,05/30/2023-10:35:44-pm,06/02/2023-9:00:16-am,1,United-States,"15,239","15,239",4
3,No,simplyniter,Jacky,Jacky,#SPN13803,5353455780116,155.82,Pending-Approval,05/16/2023-8:10:58-am,05/19/2023-9:50:56-am,6,United-States,"13,803","13,803",4
4,No,simplyniter,Jacky,Jacky,#SPN11053,5318988562708,146.15,Pending-Approval,04/08/2023-3:42:28-pm,04/14/2023-12:19:45-am,2,United-States,"11,053","11,053",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48798,No,amarishoppe,Jacky,Jacky,#AMS1004,5380076044597,27.97,Pending-Approval,05/11/2023-3:16:12-pm,05/16/2023-8:10:04-am,1,Australia,"1,004","1,004",4
48799,No,amarishoppe,Jacky,Jacky,#AMS1005,5380123918645,27.97,Pending-Approval,05/11/2023-4:56:00-pm,05/16/2023-8:10:20-am,1,United-States,"1,005","1,005",4
48800,No,douxdeals,Jacky,Jacky,#DDX1001,5436408791336,35.45,Pending-Approval,07/28/2023-12:04:20-pm,None,1,Netherlands,"1,001","1,001",4
48801,No,douxdeals,Jacky,Jacky,#DDX1003,5436897100072,35.45,Pending-Approval,07/29/2023-12:32:44-am,None,1,Luxembourg,"1,003","1,003",4
48802,No,douxdeals,Jacky,Jacky,#DDX1002,5436875079976,32.45,Pending-Approval,07/28/2023-11:54:49-pm,None,1,Belgium,"1,002","1,002",4

In [5]:
df["Store"] = df["Store"].astype("category")
df["Status"] = df["Status"].astype("category")
df["Country"] = df["Country"].astype("category")
df["Branding Store"] = df["Branding Store"].astype("category")
df["Formula(Numeric)"] = df["Formula(Numeric)"].astype("category")
df["Sales Group"] = df["Sales Group"].astype("category")
df["Sales Rep"] = df["Sales Rep"].astype("category")
df["Items Count"] = df["Items Count"].astype("category")

In [6]:
df["Created At"] = df["Created At"].str.split("-").str.join(" ")
df["Last Fulfilled At"] = df["Last Fulfilled At"].str.split("-").str.join(" ")

df["Created At"] = df["Created At"].replace("None", pd.NA)
df["Last Fulfilled At"] = df["Last Fulfilled At"].replace("None", pd.NA)

In [10]:
mask = df["Orders"] == "#SPN17260"
mask2 = df["Orders"] == "#SWQ1001"
df[mask]

,Branding Store,Store,Sales Group,Sales Rep,Orders,External ID,Order Amount,Status,Created At,Last Fulfilled At,Items Count,Country,Min Shopify#,Max Shopify#,Formula(Numeric)
4029,No,simplyniter,Jacky,Jacky,#SPN17260,5423022407956,40.96,Pending-Approval,07/30/2023 8:11:17 am,<NA>,1,Costa-Rica,"17,260","17,260",4

In [11]:
df[mask2]

,Branding Store,Store,Sales Group,Sales Rep,Orders,External ID,Order Amount,Status,Created At,Last Fulfilled At,Items Count,Country,Min Shopify#,Max Shopify#,Formula(Numeric)
47428,No,swiftqart,Jacky,Jacky,#SWQ1001,5279458787603,30.96,Closed,03/27/2023 5:36:36 am,<NA>,1,Hong-Kong,"1,001","1,001",4

In [8]:
df.to_json("store_data.json", orient = "records", indent = 2)